<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>SQLite</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SQLite</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SQLite</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:47Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:54Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict>
			<key>Neovim</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:18:57Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Nvim</string>
						<string>Neovim</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Neovim#readme</string>
					<key>authorLinkText</key>
					<string>h-hg</string>
					<key>name</key>
					<string>Neovim</string>
					<key>platform</key>
					<string>usercontribNeovim</string>
					<key>uniqueIdentifier</key>
					<string>Neovim</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>DHWKWebViewTextSizeMultiplier</key>
	<real>1.2999997138977051</real>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>annotationsAreShown</key>
	<false/>
	<key>bookmarks</key>
	<array>
		<dict>
			<key>path</key>
			<string>file://~/Library/Application%20Support/Dash/DocSets/Python/Python%203.docset/Contents/Resources/Documents/doc/library/stdtypes.html#//apple_ref/Class/bytearray</string>
			<key>platformImagePath</key>
			<string>python</string>
			<key>title</key>
			<string>Built-in Types  ❯  bytearray</string>
		</dict>
		<dict>
			<key>path</key>
			<string>dash-apple-api://load?request_key=lc/documentation/appkit/nswindow#//dash_ref/Section/Configuring%2520the%2520Window%25E2%2580%2599s%2520Appearance/1</string>
			<key>platformImagePath</key>
			<string>apple</string>
			<key>title</key>
			<string>NSWindow  ❯  Configuring the Window’s Appearance</string>
		</dict>
	</array>
	<key>dateFormat</key>
	<string>yyyy.MM.dd</string>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2025-11-20T18:45:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:13:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2025-11-14T21:29:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2025-11-14T21:25:53Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:28Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Flask.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:12:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2025-12-08T10:57:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTTP.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:16:05Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jinja.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:12:56Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Lua.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-26T11:58:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:14:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:15:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2026-02-03T13:38:01Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:15:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python.xml</key>
			<dict>
				<key>date</key>
				<date>2026-01-26T11:58:48Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2026-02-26T09:57:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SQLAlchemy.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:13:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2025-10-15T11:15:08Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>customIcon</key>
			<string>kun_negro.jpeg</string>
			<key>customIconData</key>
			<data>
			/9j/2wCEAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0a
			HBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDIBCQkJDAsM
			GA0NGDIhHCEyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIy
			MjIyMjIyMjIyMjIyMjIyMjIyMv/AABEIAMgAyAMBIgACEQEDEQH/
			xAGiAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgsQAAIBAwMC
			BAMFBQQEAAABfQECAwAEEQUSITFBBhNRYQcicRQygZGhCCNCscEV
			UtHwJDNicoIJChYXGBkaJSYnKCkqNDU2Nzg5OkNERUZHSElKU1RV
			VldYWVpjZGVmZ2hpanN0dXZ3eHl6g4SFhoeIiYqSk5SVlpeYmZqi
			o6Slpqeoqaqys7S1tre4ubrCw8TFxsfIycrS09TV1tfY2drh4uPk
			5ebn6Onq8fLz9PX29/j5+gEAAwEBAQEBAQEBAQAAAAAAAAECAwQF
			BgcICQoLEQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEGEkFRB2Fx
			EyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3
			ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SF
			hoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4ubrCw8TFxsfI
			ycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhED
			EQA/APAcj+7SUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFF
			ABRRRQAUUUUAFFFFABRRRQAvFHFJRQAUUUUAFFFFABRRRQAUUUUA
			FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFF
			ABRRRQAUV0/gzwdqPjfWJtM0yW1injtzOzXLMq7Qyr1UE5yw7V3H
			/DOni7/oI6H/AN/5f/jdAHkFFevf8M5+Lv8AoI6H/wB/5f8A43R/
			wzn4u/6COh/9/wCX/wCN0AeQ0V69/wAM5+Lv+gjof/f+X/43R/wz
			p4t/6Ceh/wDf+X/43QB5DRXqupfAvxPo+l3mp3F9pDw2du9xIscs
			hbai7iBmMDOB6j615WaAEoopRQAlFev/APDOvi44/wCJjof/AH/l
			/wDjdJ/wzn4u/wCgjof/AH/l/wDjdAHkNFevf8M5+Lv+gjof/f8A
			l/8AjdH/AAzn4u/6COh/9/5f/jdAHkNFevf8M5+Lv+gjof8A3/l/
			+N0v/DOvi3/oJaH/AN/5v/jdAHkFFbfijw9d+FfENzot9LDJc2uw
			O0JJT5lDDBIB6N6ViUAFFFFABRRRQAUUUUAFFFFAHqnwK1TTtH8a
			XlzqV/bWcDac8Ye5lWNSxljOMsQM4Ga+iB458I/9DTof/gwi/wDi
			q+IxRQB9u/8ACdeEf+hr0P8A8GEX/wAVR/wnXhH/AKGvQ/8AwYRf
			/FV8RUUAfbv/AAnXhH/oa9D/APBhF/8AFUf8J14S/wChq0P/AMGE
			X/xVfEVFAH174x8YeGbvwVr9vb+JNIlmm064jjjjvomZ2MbYAAbJ
			JPAr5DNKf8abQAUopKKAPtweOfCP/Q06H/4MIf8A4ql/4Trwj/0N
			eh/+DCL/AOKr4iooA+3f+E68I/8AQ16H/wCDCL/4qj/hOvCP/Q16
			H/4MIv8A4qviKigD7d/4Trwj/wBDXof/AIMIv/iqQ+OvCP8A0NOh
			/wDgwh/+Kr4jooA7v4s31tqPxL1e8sbqC5tpPK2T27h0fEMYOCCR
			wR69a4Sg+9FABRRRQAUUUUAFFFFABRRRQB6r8CtL07WPGl7b6lYW
			t7CunPII7mJZFDCSMZwwIzgkZr6IHgbwj/0Kmif+C+H/AOJr5K8F
			+MdQ8EavNqWmQ20s0tu0DC4VmXaWVuArKc5Qd+ldx/w0X4uH/Lho
			f/fib/45QB77/wAIN4S/6FTRP/BfD/8AE0f8IN4S/wChU0T/AMF8
			P/xNeBf8NGeLv+gdof8A34m/+OUf8NGeLv8AoHaH/wB+Jv8A45QB
			77/wg3hL/oVNE/8ABfD/APE0f8IN4R/6FTQ//BfD/wDE14F/w0Z4
			u/6B2h/9+Jv/AI5R/wANGeLv+gdof/fib/45QB6/4y8HeGbbwTr9
			xb+G9Hhmh024kjkjsYlZGEbEEELkEHmvkE16rqvx18S6xpF7ptxY
			aQsN3byW8hjhlDBXBU4JkPOD6V5Uf8mgBKUUlKKAPtseBvCP/Qqa
			J/4L4f8A4ml/4Qbwl/0Kmif+C+H/AOJrwL/hovxcP+Ydof8A34m/
			+OUf8NGeLv8AoHaH/wB+Jv8A45QB77/wg3hL/oVNE/8ABfD/APE0
			f8IN4S/6FTRP/BfD/wDE14F/w0Z4u/6B2h/9+Jv/AI5R/wANGeLv
			+gdof/fib/45QB77/wAIN4S/6FTRP/BfD/8AE0h8DeEsf8iton/g
			vh/+JrwP/hozxd/0DtD/AO/E3/xyj/hozxd/0DtD/wC/E3/xygDm
			vi1ZWmmfE3VrWxtYLS2j8nZDAgREzDGThRgDk5+tcJW74q8Q3Xin
			xDc6zexQR3NyE3rApCDaiqMZJPRfWsKgAooooAKKKKACiiigAooo
			oA6fwb4Ov/G+sS6bps1tFNHbm4ZrlmVdoZV6qGOcsO1dx/wzr4uP
			/MR0P/v/AC//ABuqfwK1XT9H8a3lzqV/bWcLac8Ye5lWNSxkjOMs
			QM4BNfRP/Cc+Ef8AoadDz/2EIv8A4qgDwH/hnPxd/wBBHQ/+/wDL
			/wDG6P8AhnPxd/0EdD/7/wAv/wAbr3//AITrwj/0Neh/+DCL/wCK
			o/4Trwj/ANDXof8A4MIv/iqAPAP+Gc/F3/QR0P8A7/y//G6P+GdP
			Fv8A0E9D/wC/8v8A8br3/wD4Trwj/wBDXof/AIMIv/iqP+E58Jf9
			DTof/gwi/wDiqAPnfVPgX4l0jSbzUri90dobOB7iQRyyliqKWIGY
			wOg9fxrys19e+MPGPhu78E69Bb+I9Hlml064SOOO9iZnYxMAAA2S
			SemK+QjQAlKKSlFAHr3/AAzr4uOP+Jjof/f+X/43Sf8ADOfi7/oI
			6H/3/l/+N178PHPhH/oadD/8GEP/AMVS/wDCdeEf+hr0P/wYRf8A
			xVAHgH/DOfi7/oI6H/3/AJf/AI3R/wAM5+Lv+gjof/f+X/43Xv8A
			/wAJ14R/6GvQ/wDwYRf/ABVH/CdeEf8Aoa9D/wDBhF/8VQB4B/wz
			n4u/6COh/wDf+X/43R/wzp4u/wCgnof/AH/m/wDjVe//APCdeEf+
			hr0P/wAGEX/xVIfHXhH/AKGnQ/8AwYQ//FUAfH/ijw9deFfEN1ot
			7LDJcWuwO0JJT5lDDBIB6N6Vh13PxYvrXUviZq15Y3UFzbyeTslg
			kDo2IUBwRxwRj61w1ABRRRQAUUUUAFFFFABRRRQAUV6n8CdK07WP
			Gt5b6lYW15CunPIEuYlkUMJIxnDAjOCa+if+EG8I/wDQraHn/sHx
			f/E0AfEdFfbv/CC+Ef8AoVtD/wDBfF/8TR/wgvhH/oVtD/8ABfF/
			8TQB8RUV9u/8IL4R/wChW0P/AMF8X/xNH/CDeEv+hW0P/wAF8X/x
			NAHxFRX194w8G+G7TwVr09v4c0eKaLTrh45I7KJWRhExBBC5BB6Y
			r5CNACUUUooASivtweBvCP8A0K2h/wDgvh/+Jpf+EF8I/wDQraH/
			AOC+L/4mgD4ior7d/wCEF8I/9Ctof/gvi/8AiaP+EF8I/wDQraH/
			AOC+L/4mgD4ior7d/wCEF8I/9Ctof/gvi/8AiaQ+BfCP/QraH/4L
			4f8A4mgD4jorufizZWum/EvVrOytYLW3i8nZFAgRFzChOAOOp/Ou
			GoAKKKKACiiigAooooAKKKKAOn8GeMb/AMEavLqWmw20s0lubdlu
			VZl2llbopU5yo713H/DRXi4f8w7Q/wDvxL/8criPBfg7UPG+rzab
			pk1tFNFbtOxuGZV2hlXgqrHOXHbpXcf8M6eLj/y/6H/3/m/+N0AN
			/wCGjPF3/QO0P/vxL/8AHKP+GjPF3/QO0P8A78S//HKd/wAM5+Lv
			+gjof/f+b/43R/wzn4u/6COh/wDf+b/43QA3/hozxd/0DtD/AO/E
			v/xyj/hovxb/ANAzQ/8AvxL/APHKd/wzn4u/6COh/wDf+b/43R/w
			zn4u/wCgjof/AH/m/wDjdAFTVPjp4l1fSbzTbiy0dYbyB7eQxxSh
			grqVJGZCOh9Pwrys16rqvwK8TaRpF7qVxqGjtDZ28lxII5pSxVFL
			HAMY5wPWvKj/AJFACUopKUUAevf8NFeLhj/iXaH/AN+Jf/jlJ/w0
			Z4u/6B2h/wDfiX/45Tv+GdPFx/5iOh/9/wCb/wCN0f8ADOfi7/oI
			6H/3/m/+N0AN/wCGjPF3/QO0P/vxL/8AHKP+GjPF3/QO0P8A78S/
			/HKd/wAM5+Lv+gjof/f+b/43R/wzn4u/6COh/wDf+b/43QA3/hoz
			xd/0DtD/AO/Ev/xyj/horxb/ANA7Q/8AvxN/8dp3/DOfi7/oI6H/
			AN/5v/jdH/DOfi7/AKCOh/8Af+b/AON0AedeKPEN34q8Q3OtX0UM
			dzdbC6wghPlUKMAknovrWJW74q8PXXhbxDc6NeywSXNsE3tAxKHc
			isMZAPRvSsKgAooooAKKKKACiiigAooooA9U+BWq6fo/jW9udSv7
			WyhbTnjElxKsaljJGcZYgZwCa+iR458I/wDQ16J/4MIf/iq+IhRQ
			B9u/8Jz4S/6GvRP/AAYQ/wDxVH/Cc+Ev+hr0T/wYQ/8AxVfEVFAH
			27/wnPhL/oa9E/8ABhD/APFUf8Jz4R/6GvQ//BhD/wDFV8RUUAfX
			/jLxj4ZufBOv29v4k0eaabTbiOOOO+iZnYxsAAA2SSeK+QTSn/Gm
			0AFKKSigD7cHjnwj/wBDXon/AIMIf/iqX/hOfCX/AENeif8Agwh/
			+Kr4iooA+3f+E58Jf9DXon/gwh/+Ko/4Tnwl/wBDXon/AIMIf/iq
			+IqKAPt3/hOfCX/Q16J/4MIf/iqQ+OfCWP8AkadE/wDBhD/8VXxH
			RQB3fxavbTU/ibq11Y3UF3bSeTsmgcOj4hjBwwyDyMfWuEpT6mko
			AKKKKACiiigAooooAKKKKAPVPgVpenax40vLbUrC2vIF055AlzEs
			ihhLGM4YEZwcV9EDwN4R/wChW0P/AMF8X/xNfJXgzxjqPgjWJtT0
			yK1lnktzAy3Ksy7Syt0Ug5yo713H/DRfi7/oHaH/AN+Jf/jlAHv3
			/CC+Ef8AoVtD/wDBfF/8TR/wgvhH/oVtD/8ABfF/8TXgH/DRni7/
			AKB2h/8AfiX/AOOUf8NGeLv+gdof/fiX/wCOUAe//wDCC+Ef+hW0
			P/wXxf8AxNH/AAg3hL/oVtD/APBfF/8AE14B/wANGeLv+gdof/fi
			X/45R/w0X4t/6Bmh/wDfiX/45QB6/wCMfB/hm08Fa/cW/hvSIpod
			OuJI5I7GJWRhG2CCFyCDyK+QzXqmpfHTxPrGl3mmXFjpCQ3lu9vI
			0cUgba67SRmQjOD6H6V5WaAEpRSUooA+2x4G8I/9Ctof/gvh/wDi
			aX/hBfCP/QraH/4L4v8A4mvAf+GivFwx/wAS7Q/+/Ev/AMcpP+Gj
			PF3/AEDtD/78S/8AxygD3/8A4QXwj/0K2h/+C+L/AOJo/wCEF8I/
			9Ctof/gvi/8Aia8A/wCGjPF3/QO0P/vxL/8AHKP+GjPF3/QO0P8A
			78S//HKAPf8A/hBfCP8A0K2h/wDgvi/+JpD4F8I/9Ctof/gvh/8A
			ia8B/wCGjPF3/QO0P/vxL/8AHKP+Gi/F3/QM0P8A78Tf/HaAOc+L
			Nlaab8S9WsrG1gtbePytkECBETMKE4AwOSc9OtcJW34o8Q3firxD
			c61fRQx3N1sLrCCE+VQowCSei+tYlABRRRQAUUUUAFFFFABRRRQA
			UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUU
			AFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFF
			FABRRRQAUUUUAFFFFABRRRQAuB/epKSloAKKKKACiiigAooooAKK
			KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigBeKOKSigD//Z
			</data>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Flask/Flask.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Jinja/Jinja.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/SQLAlchemy/SQLAlchemy.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Bash/Bash.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Man_Pages/Man Pages.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Vim/Vim.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/PostgreSQL/PostgreSQL.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/MySQL/MySQL.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Lua_5.4/Lua.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/HTTP/HTTP.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Docker/Docker.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/YAML/YAML.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/Vim/Vim.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/tmux/tmux.docset</string>
				<string>~/Library/Application Support/Dash/Cheat Sheets/SQLite/SQLite.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Python_3/Python 3.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/C/C.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/C++/C++.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Apple_API_Reference/Apple_API_Reference.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Lua/Lua.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Python/Python 3.docset</string>
				<string>~/Library/Application Support/Dash/DocSets/Pandas/Pandas.docset</string>
			</array>
			<key>name</key>
			<string>python</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>docsets</key>
			<array>
				<string>~/Library/Application Support/Dash/DocSets/Go/Go.docset</string>
			</array>
			<key>name</key>
			<string>go</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<false/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDocsetGeneratorRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPythonRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRustRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHSwiftRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
</dict>
</plist>
