[alias]
    glog = log --oneline --graph --decorate

[user]
    name = Octavio Montt
    username = L-chaCon
    email = montt.octavio@gmail.com 
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDyvs6fmn6URtZGm67vZKtvcO1B7V8VqT1ooqq7NJvqR

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
    pager = delta
    sshCommand = "ssh -i ~/.ssh/chacon"
    excludesFile = "~/.gitignore"

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    line-numbers = true

[merge]
	tool = "nvim"

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
